.table {
    width: 100%;
    margin: 40px 0;
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 7px 29px 0 hsl(240deg 5% 41% / 20%);
}

.table .thead .tr {
    background-color: var(--green-color);
    color: #fff;
    display: flex;
    flex-direction: row;
}

.table .thead .tr .th:not(:last-of-type) {
    border-right: 1px solid #fff;
}

.table .tr .th,
.table .tr .td {
    padding: 10px 15px;
    margin: 0;
}

.table .tr .th {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.table .tbody .tr {
    position: relative;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.table .tbody .tr .td.hidden {
    width: 100%;
    display: flex;
    flex-direction: row;
    cursor: auto;
    justify-content: space-around;
    transition: all 0.2s ease-in-out;
    padding: 0;
    overflow: hidden;
}

.table .tbody .tr .td.hidden .left {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 45%;
    padding: 20px 10px;
    height: fit-content;
}

.table .tbody .tr .td.hidden .right {
    width: 45%;
}

.table .tbody .tr:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
}

.table .tbody .tr:nth-of-type(2n) {
    background-color: #eee;
    border-left: 1px solid #eee;
}

.table .tbody .tr .td:not(:last-of-type) {
    border-right: 1px solid #ccc;
}

.table .tbody .tr .td:has(+ .td.hidden) {
    border-right: 0;
}

@media (max-width: 575.98px) {
    .table {
        overflow-x: scroll;
    }

    .table .tr {
        width: fit-content !important;
    }

    .table .tbody .tr {
        position: relative;
        flex-wrap: nowrap;
    }

    .table .tr .th,
    .table .tr .td {
        width: 150px;
        flex: none !important;
    }

    .table .tbody .tr .td.hidden {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
    }

    .table .tbody .tr .td.hidden .left {
        width: 100%;
        padding-top: 40px;
    }

    .table .tbody .tr .td.hidden .right {
        width: 100%;
        padding-bottom: 40px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .table .tbody .tr .td.hidden {
        flex-direction: column;
    }

    .table .tbody .tr .td.hidden .left {
        width: 100%;
        padding-top: 40px;
    }

    .table .tbody .tr .td.hidden .right {
        width: 100%;
        padding-bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .table .tbody .tr .td.hidden {
        flex-direction: column;
    }

    .table .tbody .tr .td.hidden .left {
        width: 100%;
        padding-top: 40px;
    }

    .table .tbody .tr .td.hidden .right {
        width: 100%;
        padding-bottom: 40px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .table .tbody .tr .td.hidden .left {
        width: 30%;
    }

    .table .tbody .tr .td.hidden .right {
        width: 65%;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .table .tbody .tr .td.hidden .left {
        width: 35%;
    }

    .table .tbody .tr .td.hidden .right {
        width: 60%;
    }
}

@media (min-width: 1400px) and (max-width: 1599px) {
}
