:root {
    --grey-text-color: #c7c6cb;
    --grey-color: #e6e6e8;
    --green-color: #26824f;
    --red-color: #d8000c;
    --red-background-color: #ffbaba;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}
